/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.navbar-design{
    background-color: #fff;
}
.navbar-design ul{
    margin-top: 10px;
}
.navbar-design ul li a{
    color: #FF8A00;
    font-weight: 500;
}
.navbar-design ul li a:hover{
    color: #00478F;
}
.explore{
    color:#00478F;
    font-weight: 600;
}
.logo{
    color: #FF8A00;
    font-weight: 600;
}
.contributor-btn{
    background-image:linear-gradient(#FFC000, #FF8A00);
    border: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 50px;
    margin-right: 5px;
}
.contributor-btn:hover{
    background-image: linear-gradient(#00478F, #00478F) !important;
    color: #fff;
    cursor: pointer;
}
.login-btn{
    background-image:linear-gradient(#FFC000, #FF8A00);
    border: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 50px;
}
.login-btn:hover{
    background-image: linear-gradient(#00478F, #00478F) !important;
    color: #fff;
    cursor: pointer;
}

/* Banner */
.banner{
    background-color: #ff8800c7;
    height: 80vh;
    position: relative;
}
.banner-image{
margin-top: -60px;
position: absolute;
}
.banner-image img{
   width: 900px;
   height: 650px;
}
.get-access-btn{
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    color: #FF8A00;
    font-weight: 600;
}
.get-access-btn:hover{
    background-image: linear-gradient(#00478F, #00478F) !important;
    color: #fff;
}
.slider-change-icon{
    font-size: 25px;
    background-color: #fff;
    border-radius: 50px;
    
}

/* Hire */
.hire-section{
    margin-top: 150px;
    background-color:  #FFF7DF;
}
.h-icon img{
    width: 100px;
}
.hire-details{
    color: #FF8A00;
}
.get-hired{
    font-weight: bold;
    font-size: 50px;
}

/* success stories */
.success-stories{
    background-color: #FF8A00;
}
.success-details{
    color: #fff;
}
#gallery{
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;
    
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
}
@media (max-width:1200px){
    #gallery{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
}
@media (max-width:800px){
    #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
}
@media (max-width:600px){
    #gallery{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }  
}
#gallery img,#gallery iframe {
    width:100%;
    height:auto;
    margin: 4% auto;
    box-shadow:-3px 5px 15px #000;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}


.modal-target {
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
.modal-target:hover {opacity: 0.7;}
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
  
/* Modal Content (image) */
.modal-contents {
    margin: auto;
    display: block;
    width: 50%;
    opacity: 1 !important;
    max-width: 1200px;
}
  
/* Caption of Modal Image */
.modal-caption {
    margin: auto;
    display: block;
    width: 350px;
    max-width: 1200px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1em;
    margin-top: 32px;
}
  
/* Add Animation */
.modal-contents, .modal-caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-atransform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
  /* The Close Button */
.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  