/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
            box-sizing: border-box;
        }
body{
    font-family: 'Poppins', sans-serif;
}
.section-headline{
    color: #FF8A00;
}
/* All Button */
.colorfulBtn{
    background-image:linear-gradient(#FFC000, #FF8A00);
    border: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 50px;
    margin-right: 5px;
}
.colorfulBtn:hover{
    background-image: linear-gradient(#00478F, #00478F) !important;
    color: #fff;
    cursor: pointer;
}
.whiteColor-btn{
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    color: #FF8A00;
    font-weight: 600;
}
.whiteColor-btn:hover{
    background-image: linear-gradient(#00478F, #00478F) !important;
    color: #fff;
}

/* navigation header */
.navbar-design{
    background-color: #fff;
}
.navbar-design ul{
    margin-top: 10px;
}
.navbar-design ul li a{
    color: #FF8A00;
    font-weight: 500;
}
.navbar-design ul li a:hover{
    color: #00478F;
}
.explore{
    color:#00478F;
    font-weight: 600;
}
.logo{
    color: #FF8A00;
    font-weight: 600;
}


/* Banner */
.banner{
    background-color: #FF8A00;
    height: 80vh;
    position: relative;
}
.banner-image{
margin-top: -10px;
position: absolute;
}
.banner-image img{
   width: 900px;
   height: 650px;
}

.slider-change-icon{
    font-size: 25px;
    background-color: #fff;
    border-radius: 50px;
    
}

/* Hire */
.hire-section{
    margin-top: 150px;
    background-color:  #FFF7DF;
}
.h-icon img{
    width: 100px;
}
.hire-details{
    color: #FF8A00;
}
.get-hired{
    font-weight: bold;
    font-size: 50px;
}

/* success stories */
.success-stories{
    background-color: #FF8A00;
}
.success-details{
    color: #fff;
}
#gallery{
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;
    
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
}
@media (max-width:1200px){
    #gallery{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
}
@media (max-width:800px){
    #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
}
@media (max-width:600px){
    #gallery{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }  
}
#gallery img,#gallery iframe {
    width:100%;
    height:auto;
    margin: 4% auto;
    box-shadow:-3px 5px 15px #000;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}


.modal-target {
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
.modal-target:hover {opacity: 0.7;}
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
  
/* Modal Content (image) */
.modal-contents {
    margin: auto;
    display: block;
    width: 50%;
    opacity: 1 !important;
    max-width: 1200px;
}
  
/* Caption of Modal Image */
.modal-caption {
    margin: auto;
    display: block;
    width: 350px;
    max-width: 1200px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1em;
    margin-top: 32px;
}
  
/* Add Animation */
.modal-contents, .modal-caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-atransform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
  /* The Close Button */
.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* courses */
.row-section {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column-section */
.row-section,
.row-section>.column-section {
    padding: 8px;
}
 /* Create three equal column-sections that floats next to each other */
 .column-section {
    float: left;
    width: 25% !important;
    display: none;
    /* Hide all elements by default */
}

/* Clear floats after rows */
.row-section:after {
    content: "";
    display: table;
    clear: both;
}
/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.course-nav-btn {
    border: none;
    outline: none;
    padding: 8px 25px;
    background-color: white;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;
}

.course-nav-btn:hover {
    background-color: #FF8A00;
    color: #fff;
}

.course-nav-btn.active {
    background-color: #00478F;
    color: white;
}
.card-body-design{
    background-image: linear-gradient(#FFC000, #FF8A00);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.courses-card{
    position: relative;
}
.cardBtn{
    position: absolute;
    /* margin-left: 210px; */
    border: none;
    background-color: #FF8A00;
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-end-end-radius: 20px;

}
.more-courses a{
    text-decoration: none;
}

.gallery-item.show{
    animation: fadeIn 0.5s ease;
    display: block;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.gallery-item.hide{
    display: none;
}
/* member counter */
.member-counter{
    background-color: #FF8A00;
}
#count5306::after {
    content: counter(count);
    animation: counter 5s linear infinite alternate;
    counter-reset: count 0;
  }

  @keyframes counter {
    0% {
      counter-increment: count 0;
      counter-increment: count 2;
    }
    10% {
      counter-increment: count 1;
    }
    20% {
      counter-increment: count 2;
    }
    30% {
      counter-increment: count 3;
    }
    40% {
      counter-increment: count 4;
    }
    50% {
      counter-increment: count 5;
    }
    60% {
      counter-increment: count 6;
    }
    70% {
      counter-increment: count 7;
    }
    80% {
      counter-increment: count 8;
    }
    90% {
      counter-increment: count 9;
    }
  }

/* Students Says */
.carousel-item{
    padding: 5% 15%; 
}
.carousel-item p{
    font-style: italic;
}
.user-img{
    width: 150px;
    height: auto;
}
/* .carousel-control-next-icon,
.carousel-control-prev-icon{
    background-color: #FF8A00 !important;
} */
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: #FF8A00;
}
.carousel-control-prev{
    background-image: linear-gradient(#FFC000, #FF8A00) !important;
}
.indictor{
    background-color: #FF8A00 !important;
}

/* price */
.price-value{
    font-size: 50px;
    font-weight: 700;
    color: #FF8A00;
}
.fa-circle-check{
    color: #FF8A00;
}
.card-footer{
    background-color: #FFC000 !important;
}
.cardHover:hover{
   background-color: #00478F;
}
/* footer */
.facebook:hover{
    color: #00478F;
    cursor: pointer;
}
.twiter:hover{
    cursor: pointer;
    color: skyblue;
}
.insta:hover{
    cursor: pointer;
    color: #e95950;
}
.git:hover{
    cursor: pointer;
    columns: gray;
}
.youtube:hover{
    cursor: pointer;
    color: red;
}
.quicklines{
    text-align: center;
}
.quick-menu{
    display: flex;
    flex-direction: column;
}
.quicklines a{
    text-decoration: none;
    color: white;
   
}
.terms{
    display: flex;
    flex-direction: column;
}
.terms .terms-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.terms .terms-item a{
    text-decoration: none;
    color: #fff;
}
.policy a{
    text-decoration: none;
    color: #fff;
}
.bg-copyright{
    background-color: #050203;
}